.container{
    background-color:rgb(244, 238, 229);
    margin: auto;
    width:50%;
    height: 50vh;
    /* block-size:fit-content; */
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: scroll;

}
.chat-footer{
    margin: auto;
    width:50%;

}
.chat-text{
    margin: 0 auto;
    width: 80%;
}
.chat-btn{
    margin: 0 auto;
    width: 18%;
}
.left{
    /* border-radius: 10%; */

    /* margin: 0px 0px 0px 0px; */
    width:20%;
    position: relative;
    /* right: 87%; */
    right: -4%;
    /* background-color: rgb(93, 102, 80); */
}
.right{
    /* margin: 0px 0px 0px 0px; */
    /* border-radius: 10%; */
    width:20%;
    position: relative;
    left: 81%;
    /* background-color: rgb(86, 125, 112); */
}
.msg{
    padding : 5px 0px 5px 0px;
    margin : 0px 20px 0px 0px;
    background-color: rgb(63, 155, 189);
    /* border-radius: 10%; */
    word-wrap: break-word;


}
.name{
    padding-right: 2%;
    padding : 0px 60px 0px 0px;
    margin : 0px 0px 0px 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(114, 189, 214);

}
.time{
    color: rgb(114, 189, 214);

    padding : 0px 0px 0px 0px;
    margin : 0px 0px 0px 54px;
}
.message{
    position: relative;
    box-sizing: border-box;
}